<% layout('/layouts/boilerplate') -%>
<body>
    <h1 style='text-align:center'><%= a.title %></h1> 
    <img src=<%= a.image.url  %> alt="" class="Place-img" style='border-radius: 10px'>
    <h4 style="background-color: rgb(252, 229, 229); border-radius: 10px;margin: 7px 0px; padding:13px 10px"><%= a.description %></h4>
    <h4> &#8377 <%= a.price.toLocaleString("en-IN") %></h4>
    <p>Location: <%= a.location %></p>
    <p>Country: <%= a.country %></p>
    <button >Edit</button>
    <button>Delete</button>
    <hr>
    <div>
        <div>
            <h4>All Review</h4>
            <% for(review of a.reviews){ %>
                   <li>
                    <%= review.comment %> , <%= review.rating %>
                    <form method="post" action="/listings/<%= a.id %>/reviews/<%= review._id %>">
                        <button>Delete</button>
                    </form>
                   </li>   
         <%  } %>
            <p> <%= a.review %></p>
        </div>
        <hr>
        <h4>Create a Review</h4>
        <form action="/listings/<%= a.id %>/reviews" novalidate  method="post">
            <div>
                <label for="rating" class="form-range">Rating</label>
                <input type="range" name="reviews[rating]" id="rating" min="1" max="5">
            </div>
            <div>
                <label for="comment">Comments</label>
               <textarea name="reviews[comment]" required  id="comment" cols="30" rows="10"></textarea>
            </div>
            <button>Add Review</button>
        </form>
        <hr>
    </div>

   
</body>
